* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eaeaea;
  /* Fondo gris claro */
}
#contenedor {
  width: 60%;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra */
  border: 1px solid #ddd;
  /* Borde */
  background-color: #f9f9f9;
  /* Fondo claro */
}
header {
  background-color: #c40000e3;
  /* Fondo rojo */
  padding: 0 20px;
  color: white;
  text-align: center;
  /* Cambiado de left a center */
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  /* Usamos flexbox */
  justify-content: center;
  /* Centramos el contenido horizontalmente */
  align-items: center;
  /* Alineamos verticalmente */
  gap: 50px;
  /* Espacio entre el logo y el menú de navegación */
  height: 70px;
}
h1 {
  margin: 0;
  /* Eliminamos el margen del título */
  font-size: 2em;
  margin-bottom: 20px;
}
#hoursago {
  color: #9e9e9e;
  font-size: 0.8em;
}
#logo {
  height: 30px;
  /* Ajusta la altura del logo */
  width: 120px;
}
nav {
  display: flex;
  /* Usamos flex para organizar los enlaces */
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  line-height: 70px;
  /* Alinea verticalmente los enlaces */
}
h3 {
  font-size: 1em;
  line-height: 1em;
  color: gray;
  margin-bottom: 20px;
}
p {
  font-size: 1.1em;
  color: #333;
  text-align: justify;
  margin-bottom: 25px;
}
#imgarticulo {
  float: left;
  /* Imagen alineada a la izquierda */
  margin-right: 20px;
  width: 430px;
  height: 250px;
  border-radius: 10px;
  /* Bordes redondeados */
}
#imgarticulo2 {
  display: block;
  /* Asegura que la imagen sea un bloque */
  margin: 0 auto 10px;
  /* Centra la imagen y agrega margen en la parte inferior */
  width: 820px;
  height: 500px;
  border-radius: 10px;
  /* Bordes redondeados */
}
#readmore {
  color: #c40000e3;
  text-decoration: underline;
}
